body.auth {

  padding-top: 20px;

  .auth-box {
    input[type="text"],input[type="password"] {
      margin-bottom: 12px;
      width: 250px;
      height: 22px;
      font-size: 17px;
      line-height: 22px;
    }
  }

}

