@import "bootstrap";
@import "bootstrap-responsive";

.drug-modal {
  width: 840px;
  margin: -250px 0 0 -420px;
}

.container {
  label {
    font-size: 1.4em;
  }

  .form-search {

    button {
      height: 44px;
    }

    input.search-query {
      height: 30px;
      padding: 6px 20px;
      font-size: 20px;
      line-height: 22px;
    }
  }
}
